main{
    height: 1000px;
    background: rgb(34,193,195);
    background: linear-gradient(99deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    position: relative;
    z-index: -2;
}
.flatImg{
    position: absolute;
}
.showcase{
    overflow: hidden;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: -1;
}
::-webkit-scrollbar {
    width: 0;
}
body{
    overflow-x: hidden;
}
/* добавить картинки красивых квартир на страницу */